<div id="time_countdown" class="time-count-container hidden">

  <div class="col-sm-3">
    <div class="time-box">
      <div class="time-box-inner dash days_dash animated" data-animation="rollIn" data-animation-delay="300">
        <span class="time-number">
          <span class="digit">0</span>
          <span class="digit">0</span>
          <span class="digit">0</span>
        </span>
        <span class="time-name">Días</span>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="time-box">
      <div class="time-box-inner dash hours_dash animated" data-animation="rollIn" data-animation-delay="600">
        <span class="time-number">
          <span class="digit">0</span>
          <span class="digit">0</span>
        </span>
        <span class="time-name">Horas</span>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="time-box">
      <div class="time-box-inner dash minutes_dash animated" data-animation="rollIn" data-animation-delay="900">
        <span class="time-number">
          <span class="digit">0</span>
          <span class="digit">0</span>
        </span>
        <span class="time-name">Minutos</span>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="time-box">
      <div class="time-box-inner dash seconds_dash animated" data-animation="rollIn" data-animation-delay="1200">
        <span class="time-number">
          <span class="digit">0</span>
          <span class="digit">0</span>
        </span>
        <span class="time-name">Seconds</span>
      </div>
    </div>
  </div>

</div><!-- /.time-count-container -->

<p class="time-until">
  <!-- <span>Tiempo restante</span> -->
</p><!-- /.time-until -->
