<% include header %>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="account-wall">
          <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="login">
              <!-- <img class="animated bounceInDown" src="images/logo.gif"
              alt=""> -->
              <h1
                style="font-weight:bold"
                class="animated bounceInDown"
                align="center">
                <img src="/images/logo.png" alt="">
              </h1>

              <% if(typeof error!=='undefined'){ %>
                <div class="alert alert-danger">
                  Error al iniciar sesión
                </div>
              <% } %>

                <div class="row" style="margin:20px">
                  <div class="col-md-6">
                    <a href="/auth/facebook" class="btn btn-primary form-control">
                      <i class="fa fa-facebook"></i>
                      facebook
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a href="/auth/google" class="btn btn-danger form-control">
                      <i class="fa fa-google"></i>
                      google
                    </a>
                  </div>
                </div>
                <br>
                <div id="loginForm">
                  <form class="form-signin" action="/login" method="POST">
                    <input type="text"  name="user_email" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" name="user_password" class="form-control" placeholder="Password" required>
                    <input type="submit" class="btn btn-lg btn-default btn-block" value="Iniciar sesión" />
                    <a href="javascript:;" onclick="toggleLogin()" class="btn btn-lg btn-default btn-block">Registro gratis</a>
                  </form>

                </div>

                <div id="registroForm">
                  <form class="form-signin" action="/login" method="POST">
                    <input type="text"  name="user_email" class="form-control" placeholder="Email" required autofocus>
                    <input type="text"  name="user_email" class="form-control" placeholder="Nombre de usuario" required >
                    <input type="password" name="user_password" class="form-control" placeholder="Password" required>
                    <input type="submit" class="btn btn-lg btn-default btn-block" value="Crear cuenta" />
                    <a href="javascript:;" onclick="toggleLogin()" class="btn btn-lg btn-default btn-block">Inicia sesión</a>
                  </form>
                </div>





            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<style media="screen">
  body{
    background-color:#f5f5f5;
  }
  #registroForm{
    display:none;
  }

  .form-signin
  {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-control
  {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus
  {
    z-index: 2;
  }
  .form-signin input[type="text"]
  {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-signin input[type="password"]
  {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .account-wall
  {
    margin-top: 80px;
    padding: 40px 0px 20px 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  }
  .login-title
  {
    color: #555;
    font-size: 22px;
    font-weight: 400;
    display: block;
  }
  .profile-img
  {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .select-img
  {
    border-radius: 50%;
    display: block;
    height: 75px;
    margin: 0 30px 10px;
    width: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .select-name
  {
    display: block;
    margin: 30px 10px 10px;
  }

  .logo-img
  {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

</style>
<script>
  function toggleLogin() {
    $('#registroForm').slideToggle();
    $('#loginForm').slideToggle();
  }
</script>
<% include footer %>
