<!-- About Us Section -->
<section id="about" class="section-style" data-background-image="../images/bg2.jpg">
  <div class="pattern height-resize">
    <div class="container">
      <h3 class="section-name">
        <span>
          Nosotros
        </span>
      </h3><!-- /.section-name -->

      <!-- /.Section-title  -->
      <p class="section-description">
        Somos un grupo de emprendedores y soñadores que aman la locución.
      </p><!-- /.section-description -->

      <div class="team-container">
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <figure>
                <img src="images/team/paco.jpg" alt="Team Member"  width="100%">
                <figcaption>
                  <p class="member-name">Paco</p>
                  <p class="designation">

                  </p><!-- /.designation -->

                </figcaption>
              </figure>
              <div class="social-btn-container">
                <div class="team-socail-btn">
                  <span class="social-btn-box facebook-btn-container">
                    <a href="https://www.facebook.com/indescriptibleradio/" class="facebook-btn">
                      <i class="fa fa-facebook"></i>
                    </a><!-- /.facebook-btn -->
                  </span><!-- /.social-btn-box -->

                  <span class="social-btn-box twitter-btn-container">
                    <a href="#" class="twitter-btn">
                      <i class="fa fa-twitter"></i>
                    </a><!-- /.twitter-btn -->
                  </span><!-- /.social-btn-box -->

                  <span class="social-btn-box linkedin-btn-container">
                    <a href="#" class="linkedin-btn">
                      <i class="fa fa-linkedin"></i>
                    </a><!-- /.linkedin-btn -->
                  </span><!-- /.social-btn-box -->

                  <span class="social-btn-box github-btn-container">
                    <a href="#" class="github-btn">
                      <i class="fa fa-github-alt"></i>
                    </a><!-- /.github-btn -->
                  </span><!-- /.social-btn-box -->
                </div><!-- /.team-socail-btn -->
              </div><!-- /.social-btn-container -->
            </div><!-- /.team-member -->
          </div><!-- /.col-sm-4 -->


          <div class="col-sm-4">
            <div class="team-member">
              <figure>
                <img src="images/team/toto.jpg" alt="Team Member"  width="100%">
                <figcaption>
                  <p class="member-name">
                    Toto
                  </p><!-- /.member-name -->
                  <p class="designation">
                    <!-- Director de arte -->
                  </p><!-- /.designation -->

                </figcaption>
              </figure>
              <div class="social-btn-container">
                <div class="team-socail-btn">
                  <span class="social-btn-box facebook-btn-container">
                    <a href="https://www.facebook.com/indescriptibleradio/" class="facebook-btn">
                      <i class="fa fa-facebook"></i>
                    </a><!-- /.facebook-btn -->
                  </span><!-- /.social-btn-box -->

                  <span class="social-btn-box twitter-btn-container">
                    <a href="#" class="twitter-btn">
                      <i class="fa fa-twitter"></i>
                    </a><!-- /.twitter-btn -->
                  </span><!-- /.social-btn-box -->

                  <span class="social-btn-box linkedin-btn-container">
                    <a href="#" class="linkedin-btn">
                      <i class="fa fa-linkedin"></i>
                    </a><!-- /.linkedin-btn -->
                  </span><!-- /.social-btn-box -->

                  <span class="social-btn-box github-btn-container">
                    <a href="#" class="github-btn">
                      <i class="fa fa-github-alt"></i>
                    </a><!-- /.github-btn -->
                  </span><!-- /.social-btn-box -->
                </div><!-- /.team-socail-btn -->
              </div><!-- /.social-btn-container -->
            </div><!-- /.team-member -->
          </div><!-- /.col-sm-4 -->


          <div class="col-sm-4">
            <div class="team-member">
              <figure>
                <img src="images/team/alan.jpg" alt="Team Member" width="100%">
                <figcaption>
                  <p class="member-name">
                    Alan
                  </p><!-- /.member-name -->
                  <p class="designation">
                    <!-- Directora de operaciones -->
                  </p><!-- /.designation -->

                </figcaption>
              </figure>
              <div class="social-btn-container">
                <div class="team-socail-btn">
                  <span class="social-btn-box facebook-btn-container">
                    <a href="https://www.facebook.com/indescriptibleradio/" class="facebook-btn">
                      <i class="fa fa-facebook"></i>
                    </a><!-- /.facebook-btn -->
                  </span><!-- /.social-btn-box -->

                  <span class="social-btn-box twitter-btn-container">
                    <a href="#" class="twitter-btn">
                      <i class="fa fa-twitter"></i>
                    </a><!-- /.twitter-btn -->
                  </span><!-- /.social-btn-box -->

                  <span class="social-btn-box linkedin-btn-container">
                    <a href="#" class="linkedin-btn">
                      <i class="fa fa-linkedin"></i>
                    </a><!-- /.linkedin-btn -->
                  </span><!-- /.social-btn-box -->

                  <span class="social-btn-box github-btn-container">
                    <a href="#" class="github-btn">
                      <i class="fa fa-github-alt"></i>
                    </a><!-- /.github-btn -->
                  </span><!-- /.social-btn-box -->
                </div><!-- /.team-socail-btn -->
              </div><!-- /.social-btn-container -->
            </div><!-- /.team-member -->
          </div><!-- /.col-sm-4 -->
        </div><!-- /.row -->

      </div><!-- /.team-container -->

      <div class="next-section">
        <a class="go-to-subscribe"><span></span></a>
      </div><!-- /.next-section -->

    </div><!-- /.container -->
  </div><!-- /.pattern -->


</section><!-- /#about -->
<!-- About Us Section End -->
