<ul id="chat" class="list-group" schroll-bottom="$ctrl.chat">
  <li ng-repeat="item in $ctrl.chat track by $index" class="list-group-item" >
    <strong>{{::item.user}}</strong> {{ ::item.text }}
  </li>
</ul>

<button  type="button"  ng-if="!$ctrl.user" ng-click="$ctrl.login()" class="btn btn-primary form-control">
  <i class="fa fa-send"></i> Participar en el chat
</button>

<form ng-if="$ctrl.user" class="row" ng-submit="$ctrl.send()">
  <div class="col-sm-9">
    <input
      class="form-control"
      type="text"
      placeholder="Escribe tu mensaje..."
      ng-model="$ctrl.ChatForm.text">
  </div>
  <div class="col-sm-3">
    <button  type="submit" class="btn btn-primary form-control" >
      <i class="fa fa-send"></i> Enviar</button>
  </div>

  <span id="subscribe-loading" class="btn"> <i class="fa fa-refresh fa-spin"></i> </span>
</form>
